# Node modules
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Secret Keys & Environment
.env
**/google-services.json
**/*.json
!**/pubspec.json
!**/package.json
!**/package-lock.json
!**/serviceAccountKey.json

# Scratch check files
**/check_db.js

# IDEs and OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Flutter & Android
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
